In [1]:
# Import dependencies

import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [2]:
from config import db_password

In [3]:
# Create the connection string
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/Final_project"

In [4]:
# Cretae the Database Engine
engine = create_engine(db_string)

In [5]:
# Connect to PostgreSQL server

dbConnection = engine.connect()

In [6]:
# Get data from Postgress database
dataFrame = pd.read_sql("select * from country_master_join_vaccination_table", dbConnection);

In [7]:
dataFrame

,country_name,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,country_name-2,Population_2020,iso_code-2,Indicator Name,Indicator Code,2019,2020
0,Albania,ALB,2021-02-18,3049,2438,611,1348,254,0.11,0.08,0.02,Albania,2877239,ALB,GDP (current US$),NY.GDP.MKTP.CD,15279183290,0
1,United Arab Emirates,ARE,2021-02-23,5668264,3480415,2187849,110471,67077,57.31,35.19,22.12,United Arab Emirates,9910892,ARE,GDP (current US$),NY.GDP.MKTP.CD,421000000000,0
2,United Arab Emirates,ARE,2021-01-10,1086568,836568,250000,66219,52053,10.99,8.46,2.53,United Arab Emirates,9910892,ARE,GDP (current US$),NY.GDP.MKTP.CD,421000000000,0
3,Argentina,ARG,2021-03-20,3063864,2472426,591438,124500,109875,6.78,5.47,1.31,Argentina,45267449,ARG,GDP (current US$),NY.GDP.MKTP.CD,445000000000,0
4,Argentina,ARG,2021-03-19,2939364,2382859,556505,134211,120166,6.50,5.27,1.23,Argentina,45267449,ARG,GDP (current US$),NY.GDP.MKTP.CD,445000000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2512,Wales,OWID_WLS,2021-01-18,162197,161932,265,10259,10123,5.14,5.14,0.01,Wales,"3,153,000",OWID_WLS,0,0,0,0
2513,Wales,OWID_WLS,2021-01-14,126504,126375,129,13410,7933,4.01,4.01,0.00,Wales,"3,153,000",OWID_WLS,0,0,0,0
2514,Wales,OWID_WLS,2021-01-13,113094,112973,121,11615,6738,3.59,3.58,0.00,Wales,"3,153,000",OWID_WLS,0,0,0,0
2515,Wales,OWID_WLS,2021-01-12,101479,101371,108,10143,5800,3.22,3.22,0.00,Wales,"3,153,000",OWID_WLS,0,0,0,0
2516,Wales,OWID_WLS,2021-01-11,91336,91239,97,5218,5072,2.90,2.89,0.00,Wales,"3,153,000",OWID_WLS,0,0,0,0